@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model System.Data.DataTable;
@await Html.PartialAsync("_CustNavbar")

<h2>Customer DashBoard</h2>
@if (TempData["successUpdate"] != null)
{
    <script>alert('@TempData["successUpdate"]')</script>
}
@if (TempData["successTransfer"] != null)
{
    <script>alert('@TempData["successTransfer"]')</script>
}
@if (Model.Rows.Count == 1)
{
    <p>Account No : @Model.Rows[0][0]</p>
    <br />
    <p>Name : @Model.Rows[0][1]</p>
    <br />
    <p>Balance : @Model.Rows[0][2]</p>
    <br />
    <p>Login Password : @Model.Rows[0][3]</p>
    <br />
    <p>Transaction Password : @Model.Rows[0][4]</p>
    <br />
}
else
{
    <h4>No Data Found</h4>
}